extends layout

block content
  h1= title
  p Welcome to #{title}
  p Contract Address :  
    a(target='_blank',href='https://ropsten.etherscan.io/address/' + contract) #{contract}
  p Data:  #{data}
  .form-container 
    form(class="form-signup",method="post",action="/")
      h2 SignUp To IAM

      div(class="form-group mb-3") 
        label(for="username",class="form-label") Username 
        input(type="text",name="username",id="username",class="form-control",placeholder="Username",autocomplete="off",required)
      div(class="form-group mb-3") 
        label(for="password",class="form-label") Password 
        input(type="password",name="password",id="password",class="form-control",placeholder="Password",autocomplete="off",required)
      div(class="form-group mb-3") 
        button(type="submit",class="btn btn-primary") Submit
  if transaction
    p Transaction Detail: 
      p transactionHash: 
        a(target='_blank',href='https://ropsten.etherscan.io/address/' + transaction.transactionHash) #{transaction.transactionHash}
      p blockHash: 
        a(target='_blank',href='https://ropsten.etherscan.io/address/' + transaction.blockHash) #{transaction.blockHash}
      p blockNumber: #{transaction.blockNumber}
      
      

     
